/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q             &kp W        &kp E                              &kp R            &kp T        &kp Y        &kp U            &kp I                         &kp O        &kp P                      &trans
&trans  &mt LEFT_SHIFT A  &mt LCTRL S  &mt LEFT_ALT D                     &mt LEFT_GUI F   &kp G        &kp H        &mt RIGHT_GUI J  &mt RIGHT_ALT K               &mt RCTRL L  &mt RIGHT_SHIFT SEMICOLON  &trans
&trans  &kp Z             &mt LG(X) X  &mt LG(C) C                        &mt V V          &kp B        &kp N        &kp M            &kp COMMA                     &kp DOT      &kp FSLH                   &trans
                                       &mt LG(LA(LC(LEFT_SHIFT))) DELETE  &lt 3 BACKSPACE  &lt 1 ESC    &lt 2 SPACE  &lt 2 ENTER      &mt LS(LA(LEFT_CONTROL)) TAB
            >;
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp POUND  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &trans
&trans  &kp GRAVE        &kp APOS     &kp DQT    &kp LT    &kp GT       &kp PIPE   &kp MINUS  &kp PLUS   &kp LBRC  &kp RBRC  &trans
&trans  &trans           &trans       &trans     &trans    &trans       &kp BSLH   &kp UNDER  &kp EQUAL  &kp LBKT  &kp RBKT  &trans
                                      &trans     &trans    &trans       &trans     &kp TILDE  &trans
            >;
        };

        numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp ASTERISK  &kp N7  &kp N8      &kp N9  &kp PLUS     &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &trans
&trans  &kp SLASH     &kp N4  &kp N5      &kp N6  &kp MINUS    &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &trans
&trans  &kp N0        &kp N1  &kp N2      &kp N3  &kp EQUAL    &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &trans
                              &kp PERIOD  &trans  &trans       &trans     &trans     &trans
            >;
        };

        iJandNav {
            bindings = <
&trans  &kp LG(NUMBER_1)  &kp LA(F12)    &kp F12        &kp LS(F6)     &kp LC(LS(R))     &trans    &trans    &trans  &trans     &trans  &trans
&trans  &kp LG(LS(A))     &kp LG(F6)     &kp LG(LS(S))  &kp LG(LA(F))  &kp LG(LS(N4))    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &kp LG(LA(N))     &kp LG(LA(M))  &kp LG(LA(C))  &kp LA(LG(V))  &kp LG(F9)        &trans    &trans    &trans  &trans     &trans  &trans
                                         &trans         &trans         &trans            &trans    &trans    &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
